<div class="container-fluid" id="foot1">
  
    <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="footermain">
    
      <a href="#" class="links">Sign Up</a>  
      <a href="#" class="links">Log In</a>  
      <a href="#" class="links">Messenger</a>
       <a href="#" class="links">FacebookLite</a>
        <a href="#" class="links"> Mobile</a>
      <a href="#" class="links">FindFriends</a>
      <a href="#" class="links">People</a>
      <a href="#" class="links">Pages</a>
      <a href="#" class="links">Games</a>
      <a href="#" class="links">Locations</a>
      <a href="#" class="links">Celebrities</a>
      <a href="#" class="links">Marketplace</a>
      <a href="#" class="links"> Groups</a>
      <a href="#" class="links"> Recipes</a>
      <a href="#" class="links"> Sports</a>
      <a href="#" class="links">  Look</a>
      <p class="copy">theblackhole 2018</p>
       
    </div>     
    </div>
     </div>

